/*Styles for center blobs*/

.center-zero-blob{
    max-height:450px !important; max-width: 450px !important; margin: -9.5% 35% 0px 35% !important;
}

.center-main-blob{
    max-height:300px !important; max-width: 300px !important; margin: -4% 44% 0px 40% !important;
}

.center-secondary-blob{
    max-height:230px !important; max-width: 230px !important; margin: -1% 30% 0px 42% !important;
}

.center-tertiary-blob{
    max-height:160px !important; max-width: 160px !important; margin: 0px 44% 0px 44% !important;
}

@media (max-width: 420px) and (max-height: 900px){
    .center-zero-blob{
        max-height:300px !important; max-width: 300px !important; margin: 30% 0px 0px 13% !important;
    }
    
    .center-main-blob{
        max-height:230px !important; max-width: 230px !important; margin: 37% 0px 0px 20% !important;
    }
    
    .center-secondary-blob{
        max-height:190px !important; max-width: 190px !important; margin: 43% 0px 0px 23% !important;
    }
    
    .center-tertiary-blob{
        max-height:120px !important; max-width: 120px !important; margin: 48% 0px 0px 33% !important;
    }
}